
* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
/**************Main-body******************/
.mainBody {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 200px;
  position: relative;
  padding-bottom: 50px;
  color:var(--blackText-color);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif !important;
}
.flight {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  padding: 10px;
  position: relative;
  min-height: 104px;
}
.airLineContainer {
  display: flex;
  gap: 18px;
}
.airLineIcon {
  width: 40px;
  height: 40px;
}
.baggage {
  font-size: 12px;
}
.baggage::after {
  content: "";
  background:url(../../../assets/weight.png) no-repeat;
  width: 12px;
  height: 12px;
  position: absolute;
  left: 0;
  top: 3px;
}
.totalFlightTime, .baggage{
  position: relative;
  padding-left: 15px;
}
.totalFlightTime::after{
  content: "";
  background: url(../../../assets/time.png) no-repeat;
  width: 12px;
  height: 12px;
  position: absolute;
  left: 0;
  top: 7px;
}
.arrivalDeparture,.flightPrice {
  font-weight: bold;
}
.flightPrice{
  font-size: 1.25rem;
  color: var( --DarkyellowText-color);
  padding-left: 10px;
}
.stops div {
  padding-left: 17px;
  position: relative;
}
.stops div::after {
  content: "";
  background: url(../../../assets/flightStop.png) no-repeat;
  width: 12px;
  height: 12px;
  position: absolute;
  left: 0;
  top: 6px;
}

.detailsBtn{
position: absolute;
right: 13px;
bottom: 19px;
width: 116px;
height: 36px;
border-radius: 4px;
border: 1px solid #323842;
background:var(--Btnbg-color);
transition: background-color 0.3s;
color: var(--LightText-color);
}
.detailsBtn:hover{
  cursor: pointer;
  background-color: rgb(10, 85, 170);
}
.pagination .active {
  background-color: var(--Btnbg-color);
  color: var(--LightText-color);
  border: none;
}
.pagination {
  position: absolute;
  right: 0;
  bottom: 0;
  top:100%;
}
.pagination button {
  width: 36px;
  height: 36px;
  margin-right: 4px;
  background: #FFFFFF;
  border: 1px solid #DEE1E6;
  color: black;
}
.pagination button:hover {
  cursor: pointer;
}
.pagination button:hover:not(.active){
  background-color: #DEE1E6;
}
.airLine {
  max-width: 120px;
}
.moreThanADay {
  position: absolute;
  right: 5px;
  top: -18px;
  font-size: 0.875em;
}
.flightTime{
  position: relative;
  width: 160px;
}