.nav-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
  
  border-bottom: 1px solid #ddd;
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: var( --DarkyellowText-color);
  font-weight: 500;
  font-size: 1rem;
}

.icon {
  width: 24px;
  height: 24px;
  color:var(--DarkyellowText-color); 
}

.nav-link:hover {
  color: #0085FF;
}

.nav-link:hover .icon {
  color: #0085FF;
}

