.navContainer {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
  border-bottom: 1px solid var(--border-color);
}

.navLink {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: var(--DarkyellowText-color);
  font-weight: 500;
  font-size: 1rem;
}

.icon {
  width: 24px;
  height: 24px;
  color: var(--DarkyellowText-color);
}

.navLink:hover {
  color: #0085FF;
}

.navLink:hover .icon {
  color: #0085FF;
}