
.header {
  background-color: #ffffff;
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px; /* حواف دائرية */
}

.logo {
  font-size: 1.5rem;
  color: #2563eb;
  margin-left: 60px;
}

.Finds, .signs {
  display: flex;
  gap: 20px; /* تباعد بين العناصر */
  align-items: center;

}
.signs {
  margin-right: 60px;
}

.nav-link {
  color: black; /* لون أزرق متناسق مع التصميم */
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
}
.login {
  color:#0085FF;
}
.sign-up {
  background: #0085FF;
  color: white;
  padding: 8px 24px 8px 24px;
  border-radius: 40px;
}

