/* src/components/SidebarMenu.module.css */

.sidebarContainer {
  position: relative;
}

.sidebar {
  position: fixed;
  top: 94px;
  right: -250px; /* مخفي على اليمين في البداية */
  width: 250px;
  height: fit-content;
  background: var(--bg-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: right 0.5s ease; /* حركة سلسة من اليمين */
  z-index: 1000;
  padding-top: 15px; /* مساحة للهيدر */
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

  
}

.sidebar.open {
  right: 0; /* يظهر على اليمين لما يكون open */
}

/* الجزء العلوي: صورة المستخدم، الاسم، الرصيد */
.userProfile {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    padding: 10px 20px;
    border-bottom: 1px solid #eee;
  }
  
  .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .userInfo {
    flex-grow: 1;
  }
  
  .userName {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    color: var(--blackText-color);
  }
      /* --Btnbg-color: #0085FF;
  --AuthBtn-color : #1a9ff1 ;
  --DarkyellowText-color: black;
  --whiteyellowText-color: rgb(255, 255, 255);
  --LightDarktext-color:  #333;
  --LightText-color: white;
  --blackText-color: rgb(0, 0, 0);
  --bg-color: #222127;
   */
  
  .userBalance {
    font-size: 16px;
    color: var(--LightDarktext-color);
    margin: 5px 0 0;
  }
.menuList {
  list-style: none;
  padding: 0;
  margin: 0;
 }

.menuItem {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  color: var(--LightDarktext-color);
  text-decoration: none;
  font-size: 16px;
  border-bottom: 1px solid #eee;
}

.menuItem:hover {
  background: #f5f5f5;
}

.icon {
  margin-right: 10px;
  color: var(--Btnbg-color);
}

.link {
  flex-grow: 1;
  text-decoration: none;
  color: inherit;
  border: none;
  background: none;
  cursor: pointer;
  font-family: 'Inter', sans-serif;
  color:var(--blackText-color);
}

.arrow {
  font-size: 12px;
  color: #666;
}

.link:focus {
  outline: none;
}

body.dark {
  --AuthBtn-color : #fbd684 ;
  --bg-color: #222127;     
  --DarkyellowText-color: #fbd684;        
  --whiteyellowText-color :  #fbd684 ; 
  --Btnbg-color:#fbd684;            
  --Darktext-color: #ffffff;    
  --LightDarktext-color: #a0a0a0;  
  --LightText-color: #000000;       
}