/* src/components/Auth/SignIn.css */
.container__form.container--signin {
  left: 0;
	width: 50%;
	z-index: 2;
  
}


.container.right-panel-active .container--signin {
  transform: translateX(100%);
  
}
.auth-link a {
text-decoration: none;
color: #0088c7;

} 

